.wrapper {
    height: calc(100% - 4px);
    display: flex;
    flex-flow: row wrap;
}

.center {
    flex: 1 calc(100% - 8px);
    background-color: #2d2d2d;
}

.side {
    flex: 1 4px;
}

.footer {
    width: 100%;
    height: 4px;
}

.hide {
    display: none;
}

.window-title {
    margin-left: 5px !important;
}
